# Python

In [1]:
a=10

In [11]:
multiline = '''str1
str2
str3'''
print(multiline)

str1
str2
str3

In [12]:
a = 20<10 and 2>-1
print(a)

False

In [1]:
10<<3

80

In [3]:
str1 = "lavina"
str2 = 1234
print(type(str1))
print(type(str2))

<class 'str'>
<class 'int'>

In [4]:
str4 = "word1,word2,word3"
str4.split(",")

['word1', 'word2', 'word3']

In [6]:
str1="lavina"
str1.count("i")

1

In [2]:
str5 = 'intelljpaat'
print(str5[0:3])

int

In [4]:
str5.replace('tell','yell')

'inyelljpaat'

In [5]:
str5.upper()

'INTELLJPAAT'

In [6]:
max(str5)

't'

In [12]:
min(str5)

'a'

# Datatype - Number/string/tuple- Tuple

In [9]:
#contaction
mytuple = ('a','b','c','d')
mytuple1 = ('e','f','g')
mytuple+=mytuple1
print(mytuple)

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [10]:
#repetition
mytuple*2

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b', 'c', 'd', 'e', 'f', 'g')

In [11]:
#indexing
mytuple[4]

'e'

In [14]:
#silicing
mytuple[0:4]

('a', 'b', 'c', 'd')

# Datatype -list

In [15]:
mylist = ['1',123,3.14,'asds']
mylist2 = ['acdc',20]

In [17]:
#concation
mylist+=mylist2
print(mylist)
#we can even perform mylist.remove(20) opertaion but it will give error

['1', 123, 3.14, 'asds', 'acdc', 20]

In [18]:
#reptiton
mylist*2

['1', 123, 3.14, 'asds', 'acdc', 20, '1', 123, 3.14, 'asds', 'acdc', 20]

In [19]:
#silcing
mylist[0:5]

['1', 123, 3.14, 'asds', 'acdc']

In [20]:
#append
mylist.append("10")
print(mylist)

['1', 123, 3.14, 'asds', 'acdc', 20, '10']

In [21]:
mylist3 = ['c',2]
mylist.append(mylist3)
print(mylist)

['1', 123, 3.14, 'asds', 'acdc', 20, '10', ['c', 2]]

In [23]:
#insert
mylist.insert(3,50)
print(mylist)

['1', 123, 3.14, 50, 50, 'asds', 'acdc', 20, '10', ['c', 2]]

# Datatype -  Dictionary

In [24]:
#empty dictionary
mydict = {}

In [26]:
#insert key
mydict = {1:'apple',2:'ball'}

In [27]:
#mixed keys
mydict = {'name':'john',1:[1,2,3]}

In [28]:
#Paring
mydict = dict([(1,'apple'),(2,'scsc')])

In [30]:
#accesing dict
mydict1 = {1:'csdc',2:'fdvd'}
mydict1[1]

'csdc'

In [32]:
#lenght  :len()
len(mydict1)

2

In [ ]:
#key #values
mydict2 = {2:'dcsdc',3:'wcd'}
mydict2.key()
mydict2.values()

#  Datatype - Set

In [38]:
#Creating set
mySet = {1,2,3,4,5}
print (mySet)

{1, 2, 3, 4, 5}

In [39]:
#Concation
myst = {1,2,'c','d'}
myst1  = {'s','h',4,5}
myst | myst1

{1, 2, 4, 5, 'c', 'd', 'h', 's'}

In [41]:
#intresection
myst = {1,2,'c','d'}
myst1  = {'s','h',2,5}
myst & myst1

{2}

In [42]:
#Difference
myst = {1,2,'c','d'}
myst1  = {'s','h',2,5}
myst - myst1

{1, 'c', 'd'}

#  Flow Control

In [1]:
#if-else

In [2]:
#nested if-else
# if():
#     statment
#     elif():
#         statment
#         else:
#             statment

In [5]:
#for
fruits = ['apple','organe','kiwi']
for x in fruits:
     print(x)

apple
organe
kiwi

In [7]:
#for - variable
x in fruits[1]

False

In [8]:
#while
a =1 
while a<5:
    print(a)
    a+=2;

1
3

In [20]:
#while
a=1
while a<10:
    if(a%2)==2:
        print(a,"even")
    else:
        print(a,"odd")
        a+=2;

1 odd
3 odd
5 odd
7 odd
9 odd

In [1]:
#break
a =10
while a>0:
    a-=1
    if(a != 5):
        print(a)
    else: 
        break

9
8
7
6

In [3]:
#contiune
a =10
while a>0:
    a-=1
    if(a != 5):
        print(a)
    else: 
        continue

9
8
7
6
4
3
2
1
0

# Function - 1.) User-Defined Function   2.) Built-in Function

In [8]:
#User-Defined function
def add(a,b):
    return a+b

In [13]:
#Built-Function
# abs(),all(),any(),ascii(),bin(),bool()

#  Lambda Function

In [21]:
#lambda argument :  expression

In [14]:
x = lambda a:a+10
print(x(5))

15

In [16]:
#comparing both the function
def z (x,y):
    return x*y

In [17]:
z = lambda x,y : x*y
print(z(3,4))

12

In [18]:
#power of lambbda
def myfunt(n):
    return lambda a:a+n
double = myfunt(2)
print(double(12))

14

In [19]:
#Q. lambda function to print sum of a,b,and c
x= lambda a,b,c : a+b+c
print(x(12,3,4))

19

# Class/Object

In [20]:
#A class is blueprint of object
class myclass:
    x=5;

In [21]:
obj = myclass()
print(obj.x)

5

# File Handling - Open , Read,Write/Create,Delete

In [22]:
#Open- syntax f = open("path of the file",mode)
#mode - 'r'read,'a'append,'w'write,'x create'

In [52]:
#Read
# f = open("C:\Users\hp\Downloads\text.txt" , "r")
# print(f.read())
# print(f.read(5)) //print first characters
# print(f.readline()) print first line
# f = open("C:\Users\hp\Downloads\text.txt","r")//print line by line
# for x in f :
#     print(x)

In [51]:
#Write/Create - 'a'append , 'w'write
# f = open("Desktop\text.txt","a")
# # f.write('hi')

In [53]:
#create - 'x'new file , 'w'write, 'a'append

In [1]:
#Delete 
# f.close()
# import os
# os.remove('D:/testFile1.txt')

# Numpy - Used to perform mathematical and logical operations on Array

In [2]:
#1D 
import numpy as np
a1 = np.array([1,2,3])
a2 = np.array((1,2,3))
print(a1)
print(a2)

[1 2 3]
[1 2 3]

In [3]:
a2[1] = 4

In [4]:
a2

array([1, 4, 3])

In [6]:
#2D Array
a3 = np.array(((1,2,3),(4,5,6)))

In [7]:
a3

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
a3[1]

array([4, 5, 6])

In [9]:
a3[0]

array([1, 2, 3])

# ndarray

In [10]:
a3[:0]

array([], shape=(0, 3), dtype=int32)

In [11]:
a3[0:]

array([[1, 2, 3],
       [4, 5, 6]])

In [12]:
a3[1:]

array([[4, 5, 6]])

In [13]:
a1[1]

2

In [14]:
a1[1:2]

array([2])

In [15]:
a1[1:3]

array([2, 3])

In [19]:
type(a1)

numpy.ndarray

# Numpy Array Initilization

In [23]:
a = np.zeros((4,4))
a

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [29]:
#Arrange
x = np.arange(10,40,10)
x

array([10, 20, 30])

In [32]:
#linspace
x = np.linspace(10,20,5)
x

array([10. , 12.5, 15. , 17.5, 20. ])

In [35]:
#fill same number in array
z = np.full((2,2),5)
z

array([[5, 5],
       [5, 5]])

In [37]:
#filling random number in array
y = np.random.random((2,2))
y

array([[0.67932733, 0.64345641],
       [0.68293776, 0.3858604 ]])

# Numpy Array Insecption

In [39]:
#shape
n = np.array(((1,23,4),(5,6,7)))
n.shape

(2, 3)

In [46]:
n.shape= (3,2)
print(n.shape[0])
print(n.ndim) # returns number of dimensions of array
n

3
2

array([[ 1, 23],
       [ 4,  5],
       [ 6,  7]])

In [44]:
#range(number of points needed)
y=np.arange(24)
print(y.size)

24

In [45]:
y

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [47]:
#dtype
y.dtype

dtype('int32')

In [48]:
b = np.linspace(11,12,13)
b.dtype

dtype('float64')

# Numpy Array Mathematics

In [4]:
a = np.array([2,3])
np.sum(a)

5

In [5]:
b= [2,3]
np.subtract(a,b)

array([0, 0])

In [8]:
#Axis does addition in row and col. form '0' it adds col. wise and vice-versa
np.sum([a,b], axis=0)

array([4, 6])

In [7]:
np.divide(a,b)

array([1., 1.])

In [8]:
np.multiply(a,b)

array([4, 9])

In [10]:
np.exp(a),

(array([ 7.3890561 , 20.08553692]),)

In [11]:
np.sqrt(a)

array([1.41421356, 1.73205081])

In [12]:
np.sin(a)

array([0.90929743, 0.14112001])

In [13]:
np.cos(a)

array([-0.41614684, -0.9899925 ])

In [14]:
 np.log(a)

array([0.69314718, 1.09861229])

In [15]:
#Array Comparsion-Element-wise
a=[1,2,3]
b=[4,5,6]
c=[1,2,3]
np.equal(a,b)

array([False, False, False])

In [20]:
np.equal(a,c)

array([ True,  True,  True])

In [17]:
#Array Comparsion-Array-wise
a=[1,2,3]
b=[4,5,6]
c=[1,2,3]
np.array_equal(a,b)

False

In [21]:
np.array_equal(a,c)

True

In [25]:
#Aggregate Function
a=[1,2,3]
b=[4,5,6]
c=[1,2,3]
print(np.sum(a))
print(np.min(a))
print(np.max(a))
print(np.mean(a))
print(np.median(a))
print(np.corrcoef(a)) # correlation coefficient
print(np.std(a) )#Standard deviation

6
1
3
2.0
2.0
1.0
0.816496580927726

# Numpy Broadcasting

In [36]:
z = np.array([[1,2,3],[3,6,4],[8,6,9]])
c = np.array([3,5,3])
print(z)
print(c)
print(z+c)

[[1 2 3]
 [3 6 4]
 [8 6 9]]
[3 5 3]
[[ 4  7  6]
 [ 6 11  7]
 [11 11 12]]

In [37]:
print(z-c)

[[-2 -3  0]
 [ 0  1  1]
 [ 5  1  6]]

# Numpy Indexing and Slicing

In [1]:
#Indexing - for positive right is excluded ex.6to 10 only till 9 is taken,
#           for negative higher to lower -7 to -12 for -8 is taken

In [8]:
#silicing
a = np.array([[1,2,3],[3,4,6],[9,7,6]])
print(a[0])
print(a[:1])
print(a[1:])
print(a[:,:1])

[1 2 3]
[[1 2 3]]
[[3 4 6]
 [9 7 6]]
[[1]
 [3]
 [9]]

In [9]:
print(a[:2,2:])

[[3]
 [6]]

# Array Manipulation

In [5]:
#concatenate
a = np.array([1,2,3])
b = np.array([5,6,7])
np.concatenate([a,b])

array([1, 2, 3, 5, 6, 7])

In [7]:
a = np.array([[1,2,3],[2,5,3]])
b = np.array([[5,6,7],[8,4,6]])
np.concatenate([a,b], axis=1)

array([[1, 2, 3, 5, 6, 7],
       [2, 5, 3, 8, 4, 6]])

In [10]:
#stack
np.stack((a,b),axis=0)

array([[1, 2, 3],
       [5, 6, 7]])

In [11]:
np.stack((a,b),axis=1)

array([[1, 5],
       [2, 6],
       [3, 7]])

In [4]:
#stack arrays row-wise(vertically)-vstack
#stack arrays column-wise(horizontally)-hstack
#stack arrays column-stack
a = np.array([[1,2,3],[4,5,6]])
b =np.array([[2,3,4],[5,6,7]])
print(np.stack((a,b),axis=0))
print('Horizontal stack')
print(np.hstack((a,b)))
print('horizontal concat')
print(np.concatenate((a,b),axis=0))
print('vertical stack')
print(np.vstack((a,b)))
print('Vertical concat')
print(np.concatenate((a,b),axis=1))
print('column_stack')
print(np.column_stack((a,b)))

[[[1 2 3]
  [4 5 6]]

 [[2 3 4]
  [5 6 7]]]
Horizontal stack
[[1 2 3 2 3 4]
 [4 5 6 5 6 7]]
horizontal concat
[[1 2 3]
 [4 5 6]
 [2 3 4]
 [5 6 7]]
vertical stack
[[1 2 3]
 [4 5 6]
 [2 3 4]
 [5 6 7]]
Vertical concat
[[1 2 3 2 3 4]
 [4 5 6 5 6 7]]
column_stack
[[1 2 3 2 3 4]
 [4 5 6 5 6 7]]

In [6]:
#Spilting of Array
#syntax-np.split(array,index,axis)
#array- numpy array
#index-int/list

In [10]:
print(a)
print(np.split(a,2,0))
print(np.split(a,3,1))

[[1 2 3]
 [4 5 6]]
[array([[1, 2, 3]]), array([[4, 5, 6]])]
[array([[1],
       [4]]), array([[2],
       [5]]), array([[3],
       [6]])]

In [11]:
#row
print(np.split(a,[1,2],0))

[array([[1, 2, 3]]), array([[4, 5, 6]]), array([], shape=(0, 3), dtype=int32)]

In [12]:
a[:1]

array([[1, 2, 3]])

In [13]:
a[1:2]

array([[4, 5, 6]])

In [14]:
a[2:]

array([], shape=(0, 3), dtype=int32)

In [15]:
#column
print(np.split(a,[1,2],1))

[array([[1],
       [4]]), array([[2],
       [5]]), array([[3],
       [6]])]

In [17]:
a[:,:1]

array([[1],
       [4]])

In [18]:
a[:,1:2]

array([[2],
       [5]])

In [19]:
a[:,2:]

array([[3],
       [6]])

In [9]:
#Memory location  
#Numpy vs list - memory size
import numpy as np 
import sys

#list
l=range(1000)
print(" size of list:", sys.getsizeof(1)*len(l))

#np Array
a = np.array(1000)
print("size of array:", a.size*a.itemsize)

 size of list: 28000
size of array: 4

In [13]:
#numpy vs list- time
import time
def using_list():
    t1 = time.time()#Starting/inital time
    x =range(10000000)
    y = range(10000000)
    z= [x[i]+y[i] for i in range(len(x))]
    return time.time()-t1

def using_numpy():
    t1 = time.time()
    a =np.arange(10000000)
    b = np.arange(10000000)
    c= a+b#more convinent
    return time.time()-t1
list_time = using_list()
numpy_time = using_numpy()
print(list_time,numpy_time)
print("this is the fastest time"+str(list_time/numpy_time))

4.857996225357056 0.06859517097473145
this is the fastest time70.82125689498764

# PANDAS

#Used for data handling or data modeling / analysis/open source purpose
#name dervied from - panel data
#panel data - multi dimensional data involving measurments over time
#created in 2015 by Wes Mckinney

#features 
#1.Series OBject and dataframe - handles 1D,2D,multidemsional data - series object is for 1d data means numpy array- dataframe(2D) - tabular kind of the data,has some labels for rows
#2.Handling missing Data
#3.Data alignment- Access the data
#4.Group by functionality
#5.Silcing,Indexing,Subset 
#6.Merging and joinig
#7.Reshaping
#8.Heirarchical labeling of axes
#9.Robust Input Ouput tool
#10.time series-specific-functionality

#Difference np and pd
#np-monogenous 
#pd hetero..

#what kind of data is suitable
#Tabular data
#Arbitary matrix
#Time-series data

#Data-set in Pandas
#1D- Series object
#2D - Dataframe
#3D - panel data